[submodule "hello-ocaml"]
	path = hello-ocaml
	url = https://github.com/esy-ocaml/hello-ocaml.git
[submodule "python/nryoung-algorithms"]
	path = python/nryoung-algorithms
	url = https://github.com/nryoung/algorithms.git
[submodule "python/keon-algorithms"]
	path = python/keon-algorithms
	url = https://github.com/nryoung/algorithms.git
[submodule "python/interactive-coding-challenges"]
	path = python/interactive-coding-challenges
	url = https://github.com/jjwatt/interactive-coding-challenges.git
[submodule "coding-interview-university"]
	path = coding-interview-university
	url = git@github.com:jjwatt/coding-interview-university.git
[submodule "TheAlgorithms/C-Plus-Plus"]
	path = TheAlgorithms/C-Plus-Plus
	url = https://github.com/TheAlgorithms/C-Plus-Plus.git
[submodule "TheAlgorithms/C"]
	path = TheAlgorithms/C
	url = https://github.com/TheAlgorithms/C
[submodule "TheAlgorithms/Python"]
	path = TheAlgorithms/Python
	url = https://github.com/TheAlgorithms/Python.git
[submodule "scheme/sicp-pdf"]
	path = scheme/sicp-pdf
	url = https://github.com/sarabander/sicp-pdf.git
[submodule "scheme/sicp-solutions/qiao"]
	path = scheme/sicp-solutions/qiao
	url = https://github.com/qiao/sicp-solutions
[submodule "scheme/sicp-solutions/ivanjovanovic"]
	path = scheme/sicp-solutions/ivanjovanovic
	url = https://github.com/ivanjovanovic/sicp.git
[submodule "scheme/sicp-solutions/abdulapopoola"]
	path = scheme/sicp-solutions/abdulapopoola
	url = https://github.com/abdulapopoola/SICPBook.git
